@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap');

/* inter */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');
.booking_form_inputs {
  margin: 2px;
  /* position: relative; */
  /* padding: 2px 5%; */
}
.Booking_form {
  border: 3px solid rgb(214, 214, 214);
}
.main3_sidebar {
  width: 290px;
  height: 448px;
  padding-top: 22px;
}
.booking_form_inputs1 {
  display: flex;
}
.price_information {
  display: flex;
  justify-content: space-evenly;
}
.select {
  padding: 15px;
  padding-top: 10px;
  width: 100%;
  margin-top: 65px;
}
.switch1 {
  width: 100%;
  font-size: 13px;
  color: black;
  padding: 12px;
  border: 1px solid;
}
.switch {
  font-family: 'Poppins';
}
.booking_inputs {
  margin: 3px;
  padding: 6px;
  font-family: 'Poppins';
}

.book_now {
  padding: 13px;
  width: 97%;
  text-align: center;
  color: white;
  background-color: rgb(78, 78, 250);
  border: 1px;
  border-radius: 4px;
}

/* .booking_form {
    margin-left: -36%;
        margin-right: 30%;
} */
.green {
  color: green;
}
.bolder {
  font-weight: bolder;
}
.points {
  background-color: green;
  color: white;
  border: 1px;
  font-weight: bold;
}

.total_reviews {
  padding: 5px 35px;
}

.booked {
  padding-left: 39px;
}

.booked_time {
  color: rgb(238, 44, 76);
}

.lines {
  padding-left: 44px;
}

.rates {
  list-style: none;
  margin: 2.2px;
  padding-top: 9.4px;
}
.navbarROOM_inputs {
  position: absolute;
  top: 12.7%;
  width: 18%;
}
