.cantent_body {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.filter_sections {
}
.blue_arrow {
  color: blue;
  width: 15px;
  height: 15px;
}
.filter_cantent {
  margin-top: -13%;
  border-bottom: 2px solid rgb(224, 224, 224);
}
.filter_sections {
  width: 300px;
  margin: 2px;
  padding: 12px;
}
.cantent_input {
  padding: 7px;
  align-items: center;
  padding-top: 4px;
  margin-top: 19px;
  width: 320px;
}
.large {
  font-size: 16px;
  margin-top: -3%;
}
.filter_hotel {
  position: relative;
  margin-top: -6%;
}
.search_filter {
  position: absolute;
  color: gray;
  top: 45%;
  left: 85%;
  width: 26px;
}
.my_property {
  font-family: 'Inter', sans-serif;
}
.filter_cantent1 {
  height: 138px;
  padding-bottom: -58px;
  border-bottom: 2px solid rgb(224, 224, 224);
}
.ranges_input {
  padding-top: 4px;
  width: 250px;
}
.arrow_menu {
  width: 15px;
  height: 15px;
}
.filter_content_section {
  padding: 3px;
  display: flex;
  /* margin-top: 14%; */
  align-items: center;
  justify-content: space-between;
}
.fields {
  /* padding-top: 22px;
  padding-bottom: 10px; */
  border-bottom: 2px solid rgb(224, 224, 224);
}
.pr_type {
  padding-top: 2%;
}
